
.web
{

    font-family: $secondary-font;
    @include font(700, 26px, 1.1923, null);   
    color: $blue;}
    .studio-white {
        font-family: $secondary-font;
        @include font(700, 26px, 1.1923, null);
        color: $white;
        
        }

        .logo-footer
{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;

}