
// .web
// {

//     font-family: $secondary-font;
//     @include font(700, 26px, 1.1923, null);   
//     color: $blue;}
//     .studio-white {
//         font-family: $secondary-font;
//         @include font(700, 26px, 1.1923, null);
//         color: $white;
        
//         }





.logo {
	color: $blue;

	font-family: $secondary-font;
	font-size: 24px;
	line-height: 1.17;

	&--header {
		margin-right: 93px;
	}

	&--footer {
		display: inline-block;
		margin-bottom: 20px;
	}
	@include toTablet {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.logo__part {
	color: $logo-blk;

	&--inverse {
		color: $white;
	}
}

@include desktop {
	.logo {
		font-size: 26px;
		line-height: 1.19;

		&--header {
			margin-right: 93px;
		}
	}
}