



.logo {
	color: $blue;

	font-family: $secondary-font;
	font-size: 24px;
	line-height: 1.17;

	&--header {
		margin-right: 93px;
	}

	&--footer {
		display: inline-block;
		margin-bottom: 20px;
		text-align: center;
	}
	@include toTablet {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.logo__part {
	color: $logo-blk;

	&--inverse {
		color: $white;
	}
}

@include desktop {
	.logo {
		font-size: 26px;
		line-height: 1.19;

		&--header {
			margin-right: 93px;
		}
	}
}
.content-footer{
	text-align: center;
	@include desktop{

		text-align: left;
	}
		
	}
