body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $main-color;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

img
{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;



}
button {
	cursor: pointer;
	display: block;
	padding: 0;
}
.text 
{
    text-decoration: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
address
{
    font-style: normal;
}
