
// .footer-text
// {
//     @include font(400, 14px, calc(24 / 14), null); 
//         text-decoration: none;
//         color: $footer;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
//         &:hover
// {
//     color: $blue;

// }
// }
// .footer-fon
// {
// padding: 60px 0;
// background-color:$fon-footer;



// }




// .footer-soc-item {
//     width: 44px;
//     height: 44px;

// }
// .footer-soc-link {
// width: 100%;
// height: 100%;
// @extend .display;
// border-radius: 50%;
// background-color:$icon-footer;
// transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// &:hover,
// &:focus
// {
//     background-color:$blue;
// }
// }



// .footer-soc-icon {
//     fill: $white;
//     display: block;

// }
// .footer-soc-list
// {
//     display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	gap: 10px;

// }
// .foter-container
// {
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	gap: 60px;

// 	@include tablet {
// 		align-items: baseline;
// 	}
// 	@include desktop {
// 		flex-wrap: nowrap;
// 		justify-content: space-between;
// 	}
// }
// // .benefits
// // {
// // display: flex;
// // justify-content: space-between
// // }
// .benefits-footer
// {
//     @include font(700, null, calc(16 / 14), null);  
//     text-align: center;
// text-transform: uppercase;
// color:$white;
// margin-bottom: 20px;


// }
// .address-wrap
// {
//     // margin-right: 70px;

// }
// .label-footer
// {
//     @include font(700, null, calc(16 / 14), null);   
//     text-transform: uppercase;
//     color: $white;
//     margin-bottom: 20px;
//     text-align: center;
//     margin-top: 60px;

// }

// .form-footer-input
// {


// }
// .input-flex
// {
//     // @extend .modal-field;
//     // align-items: center;
//     // gap: 12px;
// }



// .footer-mail-input
// {

// 	@include mobile {
// 		width: 450px;
// 	}
// 	@include desktop {
// 		margin-bottom: 0px;
// 	}
// height: 50px;
// border-radius: 4px;
// border: 1px solid $footer-gray;
// background-color: transparent;
// @include font(null, 16px, calc(20 / 16), null);   
// // align-items: center;
// // justify-content: center;
// padding-left: 16px;
// color: $white;
// margin-bottom: 20px;
// &:placeholder
// {
// font-size: 16px;
// }
// }

// .icon-footer-button
// {
//     fill:  $white;
// justify-content: center;}

// .button-footer
// {
//     padding: 10px 28px;
//     background-color: $blue;
//     color: $white;
// border: none;
// border-radius: 4px;
// @extend .display;
// cursor: pointer;
// margin-left: auto;
// margin-right: auto;

// @include font(700, 16px, calc(30 / 16), 0.06em);   

// gap: 10px;

// }

// .item-footer {
//     text-align: center;
// }

.page-footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: $fon-footer;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 60px;
    
        @include tablet {
            align-items: baseline;
        }
        @include desktop {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &__item {
            text-align: center;
        }
    }
}




.soc {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	color: $white;

	font-style: normal;
	line-height: 1.71;
    &__item {
        width: 44px;
        height: 44px;
    }
    &__icon {
        display: block;
        fill: currentColor;
    }
    
    &__label {
        margin-bottom: 20px;
    
        color: $white;
    
        font-weight: 700;
        text-transform: uppercase;
        @include mobile{
            text-align: center;
        }
        @include tablet {
            text-align: center;
        }
    @include desktop {
        text-align: left;
    }
    }
    
    &__link {
        width: 100%;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 50%;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            background-color: $blue;
            outline: transparent;
        }
    
        &--light {
            color: $white;
            background-color:  rgba(255, 255, 255, 0.1);
        }
    
        &--dark {
            color: $icon-fill;
    
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
}



.mail-input {
	@include desktop {
		width: 570px;
	}
    &__form {
        @include desktop {
            display: flex;
            gap: 12px;
        }
    }
    
    &__label {
        margin-bottom: 20px;
    
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: $white;
    @include mobile{
        text-align: center;
    }
    @include tablet {
        text-align: center;
    }
@include desktop {
    text-align: left;
}
    }
    
    &__input {
        height: 50px;
        padding-left: 16px;
        margin-bottom: 20px;
    
        font-family: inherit;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    
        color: $white;
        background-color: $fon-footer;
        border: 1px solid rgba(255, 255, 255, 0.3);;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &::placeholder {
            color:  rgba(255, 255, 255, 0.6);
        }
    
        &:hover,
        &:focus {
            border-color: $blue;
            outline: 1px solid $blue;
        }
        @include mobile {
            width: 450px;
        }
        @include desktop {
            margin-bottom: 0px;
        }
    }
}

.button-footer {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;

	width: 200px;
	height: 50px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;

	color: $white;
	background-color: $blue;
	border-color: $blue;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier (0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: #188ce8;
		outline: transparent;
	}
    &__icon{
        fill: $white;
    }
}

.studio-adress__item:not(:last-child) {
	@include toDesktop {
		margin-bottom: 8px;
	}
	@include desktop {
		margin-bottom: 9px;
	}
}

.studio-adress__link {
	font-style: normal;
	line-height: 1.71;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $blue;

		outline: transparent;
	}

	&--light {
		color: $white;
        
	}
	&--dark {
		color: $footer;
        
	}
}