
.page-header {
	border-bottom: solid 1px $white-header;
	&__wrap {
		display: flex;
		justify-content: space-between;
	}
}

.navigation {
	display: flex;
	align-items: center;
	.navigation__menu {
		display: none;
		@include tablet {
			display: flex;
			align-items: center;
			gap: 50px;
		}
		&:hover,
		&:focus {
			color: $blue;
	
			outline: transparent;
		}
	}
	
	&__item {
		flex-basis: calc((100% - 100px) / 3);
	}
	
	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
		padding-top: 32px;
		padding-bottom: 32px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: $main-color;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
		&:hover,
		&:focus {
			color: $blue;
	
			outline: transparent;
		}
	
		&--current {
			color: $blue;
			position: relative;
	
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
	
				width: 100%;
				height: 4px;
	
				background-color: $blue;
				border-radius: 2px;
			}
		}
	}
}

.contacts {
	display: none;

	@include tablet {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;

		font-weight: 500;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.02em;
	}
	@include desktop {
		flex-direction: row;
		gap: 30px;

		font-size: 14px;
		line-height: 1.14;
	}
	&__item {
		color: $gray;
		@include desktop {
			flex-basis: calc((100% - 30px) / 2);
		}
	}
	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
	
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
		&:hover,
		&:focus {
			color: $blue;
	
			outline: transparent;
		}
	
		@include tablet {
			font-weight: 500;
			font-size: 12px;
			line-height: 1.17;
			letter-spacing: 0.02em;
		}
	
		@include desktop {
			padding-top: 32px;
			padding-bottom: 32px;
	
			font-size: 14px;
			line-height: 1.14;
		}
	}
	&__icon {
		display: block;
		fill: currentColor;
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding-top: 48px;
	padding-left: 40px;
	padding-bottom: 48px;

	background-color: $white;

	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&.is-open {
		transform: translateX(0);
	}

	@include tablet {
		display: none;
	}
	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: auto;
	}
	
	&__button {
		position: absolute;
		top: 10px;
		right: 15px;
		margin-left: auto;
	
		width: 40px;
		height: 40px;
		border: none;
	
		display: flex;
		align-items: center;
		justify-content: center;
	
		background-color: transparent;
	
		&:hover,
		&:focus {
			color: $blue;
	
			outline: transparent;
		}
	
		@include tablet {
			display: none;
		}
	}
}



.mobile-menu__icon {
	fill: currentColor;
}

.mobile-nav__item,
.mobile-contacts__item {
	&:not(:last-child) {
		margin-bottom: 32px;
	}
}
.mobile-nav__link {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.175;
	letter-spacing: 0.02em;

	color: $main-color;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $blue;

		outline: transparent;
	}

	&--current {
		color: $blue;
	}
}
.mobile-contacts {
	margin-bottom: 64px;
	&__link {
		color: $gray;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			font-size: 34px;
			line-height: 1.18;
			color: $blue;
	
			outline: transparent;
		}
	}
}


.mobile-social-net {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	&__item {
		@include toMobile {
			flex-basis: calc((100% - 10px) / 2);
		}
	}
	
	&__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: 0.02em;
	
		color: $blue;
	}
	&__item {
		color: $gray;
		&:hover,
		&:focus {
			color: $blue;
		}
	}
}

