

    
    
    

    .color-section
    {
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
        ), url(../images/imgsection.jpg);
        max-width: 1600px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        }
    
