
    $blue: #2196F3;
    $white: #ffffff;
    $gray: #757575;
    $footer: rgba(255, 255, 255, 0.6);
    $logo-blk: #000000;
    $fon-footer: #2F303A;
    $botton-two: #F5F4FA;
    $border: #EEEEEE;
    $icon-fill: #AFB1B8;
    $icon-footer:rgba(255, 255, 255, 0.1);
    $close: rgba(0, 0, 0, 0.1);
    $white-header: #ECECEC;
    $footer-gray:rgba(255, 255, 255, 0.3);
    $team-fon:#F5F4FA;
    $main-color: #212121;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;